#page-title {
    display: block;
    font-size: 50px;
    text-align: center;
    border-style: double;

}

#page-title-p {
    text-align: center;
    display: block;
    font-size: 30px;
}

#selection-menu {
    display: block;
    text-align: center;
}

#all-continents {
    display: block;
    margin: 0 auto;
}
#Confirm{
    display: block;
    margin: 0 auto;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(144, 58, 58);
}

#selection-menu{
    font-size: large;
}