* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(144, 58, 58);
}

#nav-menu {
    display: block;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
}

#home {
    display: block;
}

#login,
#sign-up,
#bug-report {
    display: none;
}

#github-profile {
    text-align: center;
}

#page-title {
    border-style: double;
    text-align: center;
    display: block;
    font-size: 50px;
}

#page-title-p {
    text-align: center;
    font-size: 30px;
}

#exclaimer {
    text-align: center;
    font-size: small;
}

/*Button*/

.btn {
    font-family: sans-serif;
    font: bold;
    border-style: dashed;
}

#settings {
    display: none;
    position: absolute;
    right: 10px;
}

#account {
    display: none;
    position: absolute;
    right: 80px;
}

#play-button {
    display: inline;
    position: absolute;
    right: 50%;

}

/* Forms */
#login-form,
#signup-form {
    display: none;
    text-align: center;
    border-style: double;
    border-width: 10px;
    border-color: rgb(58, 144, 144);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(14, 81, 54);
}

footer {
    display: block;
    background-color: rgb(10, 143, 143, 0.5);
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}

#icon {
    width: 24px;
    height: 24px;
}