#page-title {
    display: block;
    text-align: center;
}

#page-title-p {
    display: block;
    text-align: center;
}

/*Button*/
#settings {
    display: inline;
    position: absolute;
    right: 10px;
}

#account {
    display: inline;
    position: absolute;
    right: 80px;
}

#home {
    display: inline;
    position: absolute;
    right: 50%;
}

#play-button{
    display: inline;
    position: absolute;
    right: 50%;
}

/* Forms */
#signup-form {
    display: none;
    text-align: center;
}

#login-form {
    display: none;
    text-align: center;
}