#page-title {
    display: block;
    text-align: center;
}

#page-title-p {
    display: block;
    text-align: center;
}

#play {
    position: absolute;
    top: 10px;
    left: 50%;
}

#signup-button {
    position: absolute;
    justify-content: left;
}

#login-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

#settings {
    position: absolute;
    top: 10px;
    right: 100px;
}

#account {
    position: absolute;
    top: 10px;
    right: 10px;

}

#play-button {
    display: block;
}

#login-failed {
    display: none;
}

#login-success {
    display: none;
}

#signup-success {
    display: none;
}

#signup-failed {
    display: none;
}


#signup-form {
    text-align: center;
    display: none;
}

#login-form {
    text-align: center;
    display: none;
}