/*

$$$$$$\ $$$$$$$\        $$\  $$$$$$\  
\_$$  _|$$  __$$\      $$  |$$  __$$\ 
  $$ |  $$ |  $$ |    $$  / $$ /  \__|
  $$ |  $$ |  $$ |   $$  /  \$$$$$$\  
  $$ |  $$ |  $$ |  $$  /    \____$$\ 
  $$ |  $$ |  $$ | $$  /    $$\   $$ |
$$$$$$\ $$$$$$$  |$$  /     \$$$$$$  |
\______|\_______/ \__/       \______/ 
                                      
*/

/* Titles */

#page-title {
    text-align: center;
}

#page-title-p{
    text-align: center;
}

#play{
    text-align: center;
}
/* Buttons */
#signup-button {
    display: none;
}

#login-button {
    display: none;
}

#settings{
    position:fixed;
    right: 5px;
}

#account{
    position: fixed;
    
}

/* Login Message*/
#login-failed {
    display: none;
}

#login-success {
    display: none;
}

#signup-success {
    display: none;
}

#signup-failed {
    display: none;
}

/* Forms */
#signup-form {
    text-align: center;
    display: none;
}

#login-form {
    text-align: center;
    display: none;
}

/*

$$\   $$\  $$$$$$\  $$\      $$\ $$$$$$$$\ 
$$$\  $$ |$$  __$$\ $$$\    $$$ |$$  _____|
$$$$\ $$ |$$ /  $$ |$$$$\  $$$$ |$$ |      
$$ $$\$$ |$$$$$$$$ |$$\$$\$$ $$ |$$$$$\    
$$ \$$$$ |$$  __$$ |$$ \$$$  $$ |$$  __|   
$$ |\$$$ |$$ |  $$ |$$ |\$  /$$ |$$ |      
$$ | \$$ |$$ |  $$ |$$ | \_/ $$ |$$$$$$$$\ 
\__|  \__|\__|  \__|\__|     \__|\________|

*/

/*

 $$$$$$\  $$\        $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$$$\  $$$$$$\  
$$  __$$\ $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\ 
$$ /  \__|$$ |      $$ /  $$ |$$ /  \__|$$ /  \__|$$ |      $$ /  \__|
$$ |      $$ |      $$$$$$$$ |\$$$$$$\  \$$$$$$\  $$$$$\    \$$$$$$\  
$$ |      $$ |      $$  __$$ | \____$$\  \____$$\ $$  __|    \____$$\ 
$$ |  $$\ $$ |      $$ |  $$ |$$\   $$ |$$\   $$ |$$ |      $$\   $$ |
\$$$$$$  |$$$$$$$$\ $$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$$\ \$$$$$$  |
 \______/ \________|\__|  \__| \______/  \______/ \________| \______/

*/
